@page "/person"
@using BlazingGidde.Client.Services
@using BlazingGidde.Client.Shared
@using BlazingGidde.Shared.DTOs.Person
@using BlazingGidde.Shared.DTOs.Person.Request
@using BlazingGidde.Shared.Models.PersonMain
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Forms
@inject PersonMainManager personManager
@attribute [Authorize]

<PageTitle>Application Person</PageTitle>

<CustomGrid TEntity="Person" Tkey="int" Repository="@personManager" TCreateDto="CreatePersonDto" TReadDto="PersonDto" >
  <GridColumns>
        <!-- Person ID Column -->
        <GridColumn TItem="PersonDto" HeaderText="Person ID" PropertyName="PersonId">
            <ChildContent Context="item">@item.PersonId</ChildContent>
        </GridColumn>
        
        <!-- First Name Column -->
        <GridColumn TItem="PersonDto" HeaderText="First Name" PropertyName="FirstName">
            <ChildContent Context="item">@item.FirstName</ChildContent>
        </GridColumn>
        
        <!-- Last Name Column -->
        <GridColumn TItem="PersonDto" HeaderText="Last Name" PropertyName="LastName">
            <ChildContent Context="item">@item.LastName</ChildContent>
        </GridColumn>
        
        <!-- Title Column -->
        <GridColumn TItem="PersonDto" HeaderText="Title" PropertyName="Title">
            <ChildContent Context="item">@item.Title</ChildContent>
        </GridColumn>
        
        <!-- Culture Column -->
        <GridColumn TItem="PersonDto" HeaderText="Culture" PropertyName="Culture">
            <ChildContent Context="item">@item.Culture</ChildContent>
        </GridColumn>
        
         
        
 
        
 
    </GridColumns>

    <EditFormTemplate Context="person">
        <div class="container-fluid p-3">
            <h5 class="mb-3">Person Details</h5>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Person ID</label>
                    <InputNumber class="form-control" @bind-Value="person.PersonId" />
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">First Name</label>
                    <InputText class="form-control" @bind-Value="person.FirstName" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Last Name</label>
                    <InputText class="form-control" @bind-Value="person.LastName" />
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Title</label>
                    <InputText class="form-control" @bind-Value="person.Title" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Culture</label>
                    <InputText class="form-control" @bind-Value="person.Culture" />
                </div>
              
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Remarks</label>
                    <InputText class="form-control" @bind-Value="person.Remarks" />
                </div>
              
            </div>
        </div>
    </EditFormTemplate>
</CustomGrid>