@page "/patoislist"
@using BlazingGidde.Shared.Models.Patois
@using Microsoft.AspNetCore.Identity
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Lists
@inject DictionaryManager dictionaryManager

<PageTitle>Dictionnaire</PageTitle>

<h3 class="page-title">Entrées du dictionnaire</h3>

 
        <div style="height:calc(100vh - 17rem);">   
            <SfListView EnableVirtualization="true"    EnablePersistence="true" Height="100%" DataSource="@DicEntries">
                <ListViewFieldSettings  TValue="DictionaryEntry" Id="Id" Text="FrenchWord" GroupBy="Parent"></ListViewFieldSettings>
                <ListViewTemplates TValue="DictionaryEntry">

                    <Template>
                        <div class="e-list-wrapper e-list-multi-line">
                            <div>
                                <span class="e-list-item-header">Français: @context.FrenchWord Patois: @context.DialectWord</span>&nbsp;&nbsp;

                            </div>
                        
                            <span class="e-list-content">
                                
                                    <strong>Exemple FR :</strong> @context.FrenchExample &nbsp;
                                    
                                    <strong>Exemple Dialecte :</strong> @context.DialectExample
                                    &nbsp;&nbsp;
                        
                            </span>
                        </div>
                    </Template>
                </ListViewTemplates>
            </SfListView>
        </div>

    
 

<style>
 
    .e-list-item-header {
		padding:5px;

    }

    .no-data {
        font-size: 1.5rem;
        color: #888;
        text-align: center;
        padding: 2rem;
    }
</style>

@code {
    public List<DictionaryEntry> DicEntries { get; set; }

    protected override async void OnInitialized()
    {
        DicEntries = (await dictionaryManager.GetAll()).ToList();
        StateHasChanged();
    }
}
