<h3>@Title</h3>

@typeparam TEntity
@typeparam Tkey
@typeparam TReadDto
@typeparam TCreateDto

<div class="mb-4">
    <div class="d-flex justify-content-between">
        <div>
        </div>
        <div>
            <Button Color="ButtonColor.Primary" Size="ButtonSize.Small" @onclick="OpenAddModal">
                <Icon Name="IconName.PlusCircle" Class="me-2" />Add @Title
            </Button>
        </div>
    </div>
</div>



<DxGrid ShowGroupPanel="true"
    ShowFilterRow="true"
    Data="@Data"
    EditMode="GridEditMode.PopupEditForm"
    >
    <Columns>
         <DxGridCommandColumn>
            <HeaderTemplate>
                <a class="oi oi-plus" @onclick="@(() => MyGrid.StartEditNewRowAsync())" style="text-decoration: none;" href="javascript:void(0);"></a>
            </HeaderTemplate>
            <CellDisplayTemplate>
                <a class="oi oi-pencil" @onclick="@(() => MyGrid.StartEditRowAsync(context.VisibleIndex))" style="text-decoration: none;" href="javascript:void(0);"></a>
                <a class="oi oi-x" @onclick="@(() => MyGrid.ShowDataItemDeleteConfirmation(context.DataItem))" style="text-decoration: none;" href="javascript:void(0);"></a>
            </CellDisplayTemplate>
        </DxGridCommandColumn>
        
        @GridColumns
    </Columns>
</DxGrid>

<Modal @ref="modal" Title="@((isEditMode ? "Edit" : "Add") + " " + Title)" Size="ModalSize.Large"
    OnHide="CloseModal">
    <BodyTemplate>
        <EditForm Model="selectedItem" OnValidSubmit="SaveItem">
            <DataAnnotationsValidator />
            @EditFormTemplate(selectedItem)
            <div class="mt-3 d-flex justify-content-end">
                <Button Color="ButtonColor.Secondary" Variant="Outline" Class="me-2" @onclick="CloseModal">
                    <Icon Name="IconName.XCircle" Class="me-1" />Close
                </Button>
                <Button Color="ButtonColor.Primary" Variant="Outline" Type="ButtonType.Submit">
                    <Icon Name="IconName.Save" Class="me-1" />Save
                </Button>
            </div>
        </EditForm>
    </BodyTemplate>

</Modal>