@page "/templates-type"
@inject TemplateTypeManager templateTypeManager
@inject NavigationManager NavigationManager
@using BlazingGidde.Shared.Models.FlowCheck;
@using BlazingGidde.Shared.Repository

<PageTitle>Templates Type</PageTitle>

<div class="container mt-5">
    <h3 class="text-center mb-4">Templates Type</h3>

    <div class="search-container">
        <DxSearchBox NullText="Buscar..." InputDelay="@InputDelay" BindValueMode="@BindValueMode"
        CssClass="custom-search-box" @bind-Text="@SearchText" aria-label="Search">
        </DxSearchBox>

    </div>


    <div class="row gy-4">
        @foreach (var template in filteredTemplates)
        {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card card-template h-100 text-center">
                    <img src="@template.ImgUrl" class="card-img-top" alt="@template.Name">
                    <div class="card-body">
                        <h5 class="card-title">@template.Name</h5>
                        <div class="d-flex justify-content-center gap-2 mt-3">
                            <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Primary"
                            Text="+" @onclick='() => CreateNewTemplate(template.Code)'></DxButton>
                            <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Secondary"
                            Text="E" @onclick='() => EditTemplate(template)'></DxButton>
                            <DxButton RenderStyleMode="@ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Danger"
                            Text="D" @onclick='() => DeleteTemplate(template)'></DxButton>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<DxPopup
@bind-Visible="@PopupVisible"
ShowFooter ="true"
HeaderText="Edit Template Type">
    <BodyContentTemplate Context="popupContext">
        <div class="d-flex flex-fill pt-1 pb-2 w-100">
            <DxFormLayout>
                <DxFormLayoutItem Caption="Nombre" CaptionPosition="CaptionPosition.Vertical" 
                CaptionCssClass="popup-demo-caption" CssClass="popup-demo-item" ColSpanMd="12">
                    <DxTextBox @bind-Text="selectedItem.Name" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="URL Imagen" CaptionPosition="CaptionPosition.Vertical" 
                CaptionCssClass="popup-demo-caption" CssClass="popup-demo-item" ColSpanMd="12">
                    <DxTextBox @bind-Text= "selectedItem.ImgUrl" />
                </DxFormLayoutItem>
            </DxFormLayout>

        </div>
    </BodyContentTemplate>
    <FooterContentTemplate Context="bodyContext">
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Secondary" 
        Text="Cancelar" Click="(CloseModal)=> PopupVisible = false"></DxButton>
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" 
        Text="Guardar" Click="(CloseModal)=> PopupVisible = false"></DxButton>
    </FooterContentTemplate>

</DxPopup>

<DxDialogProvider/>

@code {
    [Inject] IDialogService DialogService { get; set; }

    private TemplateType? selectedItem { get; set; }

    public List<TemplateType> mytemplate = new List<TemplateType>();
    private bool PopupVisible {get; set;}
    private bool? Result { get; set; } = null;
    private string SearchText { get; set; } = string.Empty;
    private int? InputDelay { get; set; } = 300;
    private BindValueMode BindValueMode { get; set; } = BindValueMode.OnInput;

    protected override async Task OnInitializedAsync()
    {
        mytemplate = (await templateTypeManager.GetAll()).ToList();
    }

    private IEnumerable<TemplateType> filteredTemplates =>
        string.IsNullOrWhiteSpace(SearchText)
            ? mytemplate
            : mytemplate.Where(t => t.Name.Contains(SearchText, StringComparison.OrdinalIgnoreCase));

    private void CreateNewTemplate(TemplateCode code)
    {
        var param = code.ToString().ToLower();
        NavigationManager.NavigateTo($"/create-template/{param}");
    }

    private void EditTemplate(TemplateType templateType)
    {
        selectedItem = templateType;
        PopupVisible = true;
    }

    private async Task DeleteTemplate(TemplateType templateType)
    {
        if (templateType != null)
        {
            var result = await OpenConfirmDialogAsync();
            if(result)
            {
                mytemplate.Remove(templateType);
                await templateTypeManager.Delete(templateType.Id);
                await InvokeAsync(StateHasChanged);
            }
        }
    }

    private async Task <bool> OpenConfirmDialogAsync()
    {
        return await DialogService.ConfirmAsync(new MessageBoxOptions()
            {
                Text = "Esta seguro que desea borrar esta plantilla?",
                OkButtonText = "Yes",
                CancelButtonText = "No",
                ShowIcon = false,
                ShowCloseButton = false,
                RenderStyle = MessageBoxRenderStyle.Danger,
            });
    }

    private void CloseModal()
    {
        PopupVisible = false;
        selectedItem = null;
    }

    private async Task SaveItem()
    {
        if (selectedItem is null) return;

        templateTypeManager.Update(selectedItem);
        CloseModal();
        await InvokeAsync(StateHasChanged);
    }
}

<style>
    .card-template {
        border: 1px solid #ddd;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card-template:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    .card-img-top {
        height: 150px;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
    }

    .search-container {
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Opcional: Centrar verticalmente */
        margin-bottom: 30px; /* Espaciado con otros elementos */
    }

    .custom-search-box {
        max-width: 900px;
        width: 100%;
    }


    .btn-outline-primary,
    .btn-outline-secondary,
    .btn-outline-danger {
        border-radius: 8px;
    }
</style>